@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-overflow-anchor {
		overflow-anchor: none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer base {
	:root {
		--color-primary-dark: #131517;
		--color-primary-light: #f3f4f8;
		--color-secondary-dark: #1e1f25;
		--color-secondary-light: #fbfaff;
		--color-third-dark: #eeeeee;
		--color-third-light: #768396;
		--grey: #f6f6f6;
		--grey-2: #f6f6f6;
		--blue: #232360;
		--purple: #5150f9;
	}
}
